.animate__animated.animate__fadeInLeftBig {
    --animate-duration: 1.1s;
  }
  .animate__animated.animate__fadeInUpBig {
    --animate-duration: 2.5s;
  }
  .animate__animated.animate__fadeInUp {
    --animate-duration: 2.5s;
  }


